body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.sectionA {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
img {
    width: 40px;
    height: 40px;
}
a {
    text-decoration: none;
}
b {
    color: green;
}
.left {
    border: 1px solid white;
    color:white;
    margin: 20px; 
    font-size: 32px;
    font-weight: bold;
}
.right {
    border: 1px solid rgb(36, 218, 36);
    border-radius: 8px;
    color: rgb(36, 192, 36);
    margin: 20px;
    padding: 10px;
    font-weight: bold;
}

.sectionB {
    border: 1px solid rgb(76, 67, 67);
    padding: 50px 10px;
    margin:auto;
    text-align: center;
    background-color: rgb(49, 108, 72);
}

.sectionB .top {
    color: white;
    font-size: 32px;
    font-weight: bold;
}
.sectionB .center {
    color:grey;
    max-width: 800px;
    margin: auto;
}
.sectionB .bottom {
    color: black;
    background-color: green;
    border-radius: 5px;
    margin: 15px 100px;
    padding: 10px 20px;
    font-weight: bold;
}

.sectionC, .sectionD {
    padding: 30px 15px;
    
}
.sectionC div, .sectionD .first {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: white
}
.sectionC ul, .sectionD ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    padding: 0;
}
.sectionC li, .sectionD li {
    border: 1px solid rgb(79, 62, 62);
    max-width: 100%;
}
.sectionC li:hover, .sectionD li:hover {
    border: 1px solid green;
}
.sectionC .mid, .sectionD .mid {
    font-size: 32px;
    color: white;
    font-weight: bold;
}
.sectionC .low, .sectionD .low{
    color: grey;
    font-size: 16px;
}

.sectionD {
    /*border: 1px solid white;*/
    color: white;
}
.sectionD .second {
    text-align: center;
    margin-bottom: 10px;
}
.sectionD li {
    background-color: rgb(45, 43, 43);
}

.sectionE {
    /*border: 1px solid green;*/
    background-color: lightgreen;
    color: white;
    text-align: center;
    padding: 30px 15px;
}
.sectionE .top {
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
}
.sectionE .center {
    color:grey;
    font-size: 16px;
    max-width: 800px;
    margin:5px;
    padding: 10px;
}
.sectionE .bottom {    
    background-color: green;
    color: black;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: bold;
}

.sectionF {
   /* border: 1px solid white;*/
    text-align: center;
    padding: 10px;
}
.lastMan {
    border-top: 1px solid grey;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 10px;
}

@media(max-width: 600px) {
    .left, .right {
        font-size:28px;
    }

    .sectionC ul, .sectionD ul {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .sectionC li, .sectionD li {
        max-width: 100%;
    }
}

@media(max-width: 900px) {
    .sectionC li, .sectionD li {
        max-width: 30%;
    }
}